
/****************************************
 **************** Pages *****************
 ****************************************/

/*connection status window*/
.modal-pane {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 18;
    -fx-border-radius: 18;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.35), 18, 0, 0, 0);
}

.modal-overlay {
    -fx-background-color: rgba(0,0,0,0.45);
    -fx-alignment: center;
}

.status-label-connected {
    -fx-text-fill: #2ecc71;
}

/*************************************
    ==========COMPONENTS==========
*************************************/
/* Transparent Button Style */
.button-primary {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-text-fill: black;
    -fx-font-weight: bold;

    /*rounded corners:*/
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    /* animation that fades smoothly */
    -fx-transition: all 0.2s ease-in-out;
}

/* Hover State */
.button-primary:hover {
    /* subtle highlight */
    -fx-background-color: rgba(0, 0, 0, 0.06);
}

/* Pressed State */
.button-primary:pressed {
    /* when pressed */
    -fx-background-color: rgba(0, 0, 0, 0.18);
    -fx-border-color: #333;

    /* small "shrink" effect*/
    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;
}

/* Secondary Button Style */
.button-secondary {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: white;
    -fx-font-weight: bold;

    /*rounded corners:*/
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    /* animation that fades smoothly */
    -fx-transition: all 0.2s ease-in-out;
}

.button-secondary:hover {
   /* subtle highlight */
    -fx-background-color: rgba(0, 0, 0, 0.452);
}

.button-secondary:pressed {
    /* when pressed */
    -fx-background-color: rgba(0, 0, 0, 0.18);
    -fx-border-color: #000000;

     /* small "shrink" effect*/
    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;
}
